.barentsburg__text {
    position: relative;
    width: 380px;
    margin-bottom: 0px;
    margin-top: 0px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}