.footer__link-grid {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;

    grid-column-gap: 18px;
}

@media screen and (max-width: 767px) {
    .footer__link-grid {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        grid-row-gap: 32px;
    }
}